<main>
    <!-- 필터링 선택부분 -->
    <section>
        <div class="filter_title">필터링</div>
        <div class="interest">
            <p class="filter__subtitle">관심분야</p>
            <dl class="list_division">
                <dd>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="select_interest">전체</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="select_interest">문화/예술/공연</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="select_interest">봉사/사회활동</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="select_interest">학술/교양</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="select_interest">창업/취업</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="select_interest">스포츠</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="select_interest">여행/친목</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="select_interest">기타</span>
                            </a>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
        <hr>
        <div class="region">
            <p class="filter__subtitle">활동지역</p>
            <dl class="list_division">
                <dd>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="select_interest">전국</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="select_interest">대면</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="select_interest">비대면</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="select_interest">서울/경기</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="select_interest">충청</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="select_interest">전라</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="select_interest">경상</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="select_interest">강원</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="select_interest">제주</span>
                            </a>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
        <hr>
        <div class="sorting__box">
            <p class="filter__subtitle">정렬방식</p>
            <dl class="list_division">
                <dd>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="division">최신순</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="division">마감임박순</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="division">인기순</span>
                            </a>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
    </section>
<hr>
    <!-- 선택한 필터링에 의해 모집글 보여지는 부분 -->
    <section>
        <div class="show_title">모집글보기</div>
        <div class="crew__box">
            <div class="crewpost">
                <div class="crew__img"></div>
                <div class="crew__info">
                    <div class="crew__name">oo동아리</div>
                    <div class="crew__like">#문화/예술 #비대면 #전국</div>
                    <div class="watch__crew">
                        <button>상세보기</button>
                        <button>좋아요</button>
                    </div>
                </div>
            </div>
            <div class="crewpost">
                <div class="crew__img"></div>
                <div class="crew__info">
                    <div class="crew__name">oo동아리</div>
                    <div class="crew__like">#문화/예술 #비대면 #전국</div>
                    <div class="watch__crew">
                        <button>상세보기</button>
                        <button>좋아요</button>
                    </div>
                </div>
            </div>
            <div class="crewpost">
                <div class="crew__img"></div>
                <div class="crew__info">
                    <div class="crew__name">oo동아리</div>
                    <div class="crew__like">#문화/예술 #비대면 #전국</div>
                    <div class="watch__crew">
                        <button>상세보기</button>
                        <button>좋아요</button>
                    </div>
                </div>
            </div>
            <div class="crewpost">
                <div class="crew__img"></div>
                <div class="crew__info">
                    <div class="crew__name">oo동아리</div>
                    <div class="crew__like">#문화/예술 #비대면 #전국</div>
                    <div class="watch__crew">
                        <button>상세보기</button>
                        <button>좋아요</button>
                    </div>
                </div>
            </div>
            <div class="crewpost">
                <div class="crew__img"></div>
                <div class="crew__info">
                    <div class="crew__name">oo동아리</div>
                    <div class="crew__like">#문화/예술 #비대면 #전국</div>
                    <div class="watch__crew">
                        <button>상세보기</button>
                        <button>좋아요</button>
                    </div>
                </div>
            </div>
            <div class="crewpost">
                <div class="crew__img"></div>
                <div class="crew__info">
                    <div class="crew__name">oo동아리</div>
                    <div class="crew__like">#문화/예술 #비대면 #전국</div>
                    <div class="watch__crew">
                        <button>상세보기</button>
                        <button>좋아요</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <!-- 페이지 넘기기(여기도 동적변경) -->
        <div class="btn-group">
            <button type="button"><</button>
            <button type="button">1</button>
            <button type="button">2</button>
            <button type="button">3</button>
            <button type="button">4</button>
            <button type="button">></button>
        </div>
        </section>
</main>