<main>
  
    <form class="form-signin" action="/memberSubmit" method="POST">
        <table class="totalTable">
            <thead class="jointitle"> 
                <tr>
                    <th><h4>회원가입</h4></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input class="joininputs" id="email" name="email" type="text" placeholder=" @주소를 포함한 email">
                        <br>
                        <input class="joininputs" id="password" name="password" type="text" placeholder="  password">
                        <br>
                        <input class="joininputs" id="name" name="name" type="text" placeholder="  name">
                        <br>
                        <input class="joininputs" id="phone_numb" name="phone_numb" type="text" placeholder="  -를 제외한 11자리 phone number">
                        <br>
                        <input class="joininputs" id="birth" name="birth" type="text" placeholder="  0000.00.00 형식의 birth">         
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <input type="submit" id="submit_join" name="submit" value="회원 가입">
        <br>
        <br>
    </form>
    
</main>